main {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
   }
   main > section {
    margin: 10px; padding: 15px;
    width: 300px;
    background-color:darkblue;
    color: white;
    text-align: center;
   }